/* external css for all webpages */
/* Adjusting font, line spacing and background color for all webpages */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: 	#ffffff;
    margin: 0;
    padding: 0;
}
/* css for header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgb(206, 206, 206);
    border-bottom: 1px solid #F1F4FFFF ;
}
header img{
    height: 100px;
}

.nav {
    display: flex; /* using flex to adjust the nav abr contents horizontally and vertically */
    gap: 20px;
}

.nav a {
    padding: 30px;
    color: #03002e;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
   

}
/* unvisited link*/
a:link{ color:#0b0b0d}
/* mouse over link */
a:hover{ color: #0d3b66;}



/* css for footer*/
footer {
    background-color: rgb(206, 206, 206) ;
    color: #0b0b0d;
    padding: 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
}

.footer-section {
    
    margin: 5px;
}


.footer-section a {
    font-weight: bold;
    text-decoration: none;
    color: #0b0b0d;
}

.footer-section p {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

